<?xml version="1.0" encoding="utf-8" ?>
<Config>
	<Ip>192.168.0.106</Ip>
	<Port>8955</Port>
	<Status>1</Status>
	<Title>Comunicator WYD2</Title>
	<Heigth>20</Heigth>
	<Width>100</Width>
	<MaxClient>1000</MaxClient>
	
	<Publisher>SelectionGames</Publisher>
	<StringConnection>server=127.0.0.1;uid=root;pwd=0123456789;database=unitedeasy</StringConnection>
	<ImportUser>F:\NewsGames_WYD\SERVER_Over-Star\DBSRV\ImportUser\</ImportUser>
	<ImportDonate>F:\NewsGames_WYD\SERVER_Over-Star\DBSRV\ImportCash\</ImportDonate>
	<ImportPass>F:\NewsGames_WYD\SERVER_Over-Star\DBSRV\ImportPass\</ImportPass>
	<ImportCharacter>F:\NewsGames_WYD\SERVER_Over-Star\DBSRV\ExportSinc\Player\</ImportCharacter>
	<ImportNotice>F:\NewsGames_WYD\SERVER_Over-Star\DBSRV\ImportNotice\</ImportNotice>

	<GameVersion>1020</GameVersion>
	
</Config>