<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\LoginStar\internal.log"
      internalLogLevel="Info" >
	<variable name="LoginLevel" value="${level:lowercase=true:truncate=4:when=level==LogLevel.Info or level==LogLevel.Warn}${when:when=level==LogLevel.Error:inner=fail}${when:when=level==LogLevel.Fatal:inner=crit}${when:when=level==LogLevel.Debug:inner=dbug}${when:when=level==LogLevel.Trace:inner=trce}" />
	<variable name="LoginLayout" value="${LoginLevel}: ${longdate} | ${message} | ${all-event-properties} ${exception:format=tostring}" />
	<variable name="FileLayout" value="${LoginLevel}: ${longdate} | ${message} | ${all-event-properties} ${exception:format=tostring} ${newline}" />
	
	<!-- the targets to write to -->
	<targets async="true">
		<!-- write logs to file -->

		<target xsi:type="File" 
				name="logapp" 
				fileName="Log\App\${LoginLevel}.log"
				layout="${FileLayout}"
				keepFileOpen ="false"
				concurrentWrites ="true"
				archiveNumbering="DateAndSequence"
				archiveAboveSize="1024"
				maxArchiveFiles="1000"/>


		<target xsi:type="File" name="loguser" 	
				fileName="Log\User\${LoginLevel}.log"
				layout="${FileLayout}"
				keepFileOpen ="false"
				concurrentWrites ="true"
				archiveNumbering="DateAndSequence"
				archiveAboveSize="1024"
				maxArchiveFiles="1000"/>


		<target xsi:type="File" name="logdb" 
				fileName="Log\Db\${LoginLevel}.log"
				layout="${FileLayout}"
				keepFileOpen ="false"
				concurrentWrites ="true"
				archiveNumbering="DateAndSequence"
				archiveAboveSize="1024"
				maxArchiveFiles="1000"/>


		<target xsi:type="File" name="logpacket" 	
				fileName="Log\Packet\${LoginLevel}.log"
				layout="${FileLayout}"
				keepFileOpen ="false"
				concurrentWrites ="true"
				archiveNumbering="DateAndSequence"
				archiveAboveSize="1024"
				maxArchiveFiles="1000"/>


		<target name="logconsole" xsi:type="Console" layout="${LoginLayout}" writeBuffer="true" />

		<target name="logconsole" xsi:type="ColoredConsole" layout="${LoginLayout}" useDefaultRowHighlightingRules="true">
			<highlight-word foregroundColor="Green" regex="^info" />
			<highlight-word foregroundColor="Yellow" regex="^warn" />
			<highlight-word foregroundColor="Grey" regex="^trace" />
			<highlight-word foregroundColor="Black" backgroundColor="Red" regex="^fail" />
			<highlight-word foregroundColor="White" backgroundColor="Red" regex="^crit" />
		</target>
	</targets>


	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="app" minlevel="Trace" writeTo="logapp,logconsole" />
		<logger name="user" minlevel="Trace" writeTo="loguser,logconsole" />
		<logger name="db" minlevel="Trace" writeTo="logdb,logconsole" />
		<logger name="packet" minlevel="Trace" writeTo="logpacket" />
	</rules>
</nlog>
